@media screen and (max-width: 375px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding: 18px;
    }

    .site-bar .container {
        display: flex;
        justify-content: space-between;
    }

    .site-bar__logo {
        margin: 0;
    }

    .site-bar__nav,
    .site-bar__phone-button {
        display: none;
    }

    .site-bar__phone-link {
        color: var(--color-white);
        border: none;
    }

    .footer {
        display: none;
    }
}