@media screen and (max-width: 375px) {
    /* || Global classes */
    .container {
        width: 100%;
        max-width: 100%;
        padding: 18px;
    }

    .title_h1 {
        font-size: 23px;
    }

    .site-bar .container {
        display: flex;
        justify-content: space-between;
    }

    .site-bar__logo {
        margin: 0;
    }

    .site-bar__nav,
    .site-bar__phone-button {
        display: none;
    }

    .site-bar__phone-link {
        color: var(--color-white);
        border: none;
    }
    /* || /Global classes */

    /* || Hero */
    .hero {
        height: 476px;
    }

    .hero__paragraph {
        font-size: 14px;
        line-height: 135.8%;
    }

    .hero__buttons {
        flex-direction: column;
        gap: 26px;
        margin-top: 54px;
    }

    .hero__button {
        min-width: 100%;
        width: 100%;
    }

    .hero__button_primary {
        box-shadow: none;
    }
    /* || /Hero */

    /* || Footer */
    .footer {
        display: none;
    }
    /* || /Footer */
}