:root {
    --color-primary: #E3B873;
    --color-primary-20: rgba(227, 184, 115, 0.2);
    --color-primary-30: rgba(227, 184, 115, 0.3);
    --color-primary-50: rgba(227, 184, 115, 0.5);
    --color-white: #FFFFFF;
    --color-white-30: rgba(255, 255, 255, 0.3);
    --color-gray: #363636;
    --color-gray-30: rgba(54, 54, 54, 0.3);
    --color-gray-50: rgba(54, 54, 54, 0.5);
    --color-black: #131313;
    --color-black-30: rgba(0, 0, 0, 0.3);
    --color-black-70: rgba(0, 0, 0, 0.7);
    --color-black-80: rgba(0, 0, 0, 0.8);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    /* Nunito Sans by default, changed for headings in custom classes */
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
}

/* || Global classes */
.section {
    /*  //  flow-root is necessary for the margins to work correctly */
    /* ? Actually, I am not quite sure it is necessary. */
    /* TODO: Check the above when finishing the layout */
    display: flow-root;
}

.section:has(.section__background) {
    position: relative;
}

.section__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    --container-padding-x: 92px;
    max-width: calc(1440px + var(--container-padding-x));
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--container-padding-x);
}

.bg-black,
.bg-dark {
    color: var(--color-white);
}

.bg-black {
    background-color: var(--color-black)
}

.bg-dark {
    background-color: var(--color-black-70);
}

.button {
    border: none;
    border-radius: 2px;
    color: var(--color-white);
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 13px 33px;
    transition: scale 0.1s;
}

.button:hover {
    scale: 1.1;
}

.button:active {
    scale: 1.05;
}

.button_primary {
    background-color: var(--color-primary);
    box-shadow: 0px 5px 15px var(--color-primary-30);
}

.button_italic {
    font-style: italic;
}

.button_outlined {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--color-white);
}

.title {
    font-family: "Yeseva One", serif;
    text-transform: uppercase;
    font-size: var(--font-size);
    line-height: var(--line-height)
}

.title_h1 {
    --font-size: 40px;
    --line-height: 132.8%;
}

.title_h2 {
    --font-size: 27px;
    --line-height: 138.6%;
}

.title_h3 {
    --font-size: 18px;
    --line-height: 138.6%;
}

.title_color-primary {
    color: var(--color-primary);
}

.title__highlighted {
    color: var(--color-primary);
}

.lined-icon {
    display: flex;
    align-items: center;
    gap: 7.76px;
}

.lined-icon__line {
    border: none;
    height: 1.54px;
    width: 32px;
    border-radius: 2px;
    background-color: var(--color-primary);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 52.09px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-menu__link {
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.1s;
}

.nav-menu__link:hover {
    color: var(--color-primary);
}
/* || /Global classes */

/* || Header */
.header {
    height: 83px;
    background: var(--color-black);
}

.header .container {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 0;
}

.header__logo {
    margin-right: 120.21px;
}

.header__nav {
    margin-right: 90.36px;
}

.header__logo {
    color: var(--color-primary);
    text-transform: uppercase;
}

.header__logo,
.header__phone {
    white-space: nowrap;
}

.header__phone {
    display: flex;
    gap: 45px;
    align-items: center;
}

.header__phone-link {
    color: var(--color-primary);
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary-50);
    transition: border-bottom-color 0.1s;
}

.header__phone-link:hover {
    border-bottom-color: var(--color-primary);
}

.header__phone-button {
    height: 37px;
    width: 161px;
}
/* || /Header */

/* || Hero */
.hero {
    height: 707px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --container-padding-x: 134px;
}

.hero .title {
    margin: 0;
}

.hero__paragraph {
    font-size: 22px;
    line-height: 163.7%;
    margin-top: 19px;
    margin-bottom: 0;
}

.hero__buttons {
    display: flex;
    gap: 20px;
    margin-top: 41px;
}

.hero__button {
    min-width: 207px;
    height: 51px;
}
/* || /Hero */

/* || Completed projects */
.projects {
    height: 1074px;
}

.projects .container {
    display: flex;
    gap: 50px;
    padding-top: 107px;
    --container-padding-x: 134.45px;
}

.projects__title {
    /* The zeros are intentional: margin-top is set, and other sides are reset */
    margin: 67.36px 0 0;
    letter-spacing: -7%;
}

.projects__paragraph {
    font-size: 14px;
    line-height: 191%;
    margin: 23px 0 0;
}

.projects__project-info {
    display: grid;
    width: 365px;
    grid-template-columns: repeat(2, max-content);
    column-gap: 64px;
    row-gap: 34px;
    margin-top: 50px;
}

.projects__project-info-title {
    margin: 0;
}

.projects__project-info-value {
    display: block;
    font-size: 13px;
    margin-top: 9px;
}

.projects__slider-pagination {
    display: flex;
    gap: 29.5px;
    margin-top: 87.34px;
}

.projects__slider-dots {
    display: flex;
    gap: 17.54px;
}

.projects__slider-dot {
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    opacity: 0.3;
    border-radius: 5px;
    cursor: pointer;
}

.projects__slider-dot_active,
.projects__slider-dot:hover {
    opacity: 1;
}

.projects__slider-arrow {
    cursor: pointer;
}

.projects__slider-tabs {
    display: flex;
    gap: 60.5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.projects__slider-tab-link {
    font-family: "Yeseva One", serif;
    font-size: 14px;
    color: var(--color-white-30);
    text-transform: uppercase;
    text-decoration: none;
}

.projects__slider-tab_active,
.projects__slider-tab:has(.projects__slider-tab-link:hover) {
    padding-bottom: 6.68px;
    border-bottom: 1px solid var(--color-primary);
}

.projects__slider-tab-link_active,
.projects__slider-tab-link:hover {
    color: var(--color-primary);
}

.projects__slider-image {
    margin-top: 45.36px;
}
/* || /Completed projects */

/* || Online control */
.online-control {
    height: 959px;
    margin-top: -325px;
}

.online-control .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-control__title {
    color: var(--color-white);
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 12.79px;
}

.online-control__video {
    background-color: var(--color-black-80);
    position: relative;
    margin-top: 31.21px;
}

.online-control__video-image {
    position: relative;
    filter: brightness(0.2);
}

.online-control__video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    width: 85px;
    height: 85px;
    border-radius: 100px;
    box-shadow: 0px 5px 30px var(--color-primary-20);
}

.online-control__hr {
    display: block;
    border-width: 1.54px;
    width: 55px;
    border-color: var(--color-primary);
    border-style: solid;
    border-radius: 2px;
    margin-top: 59.5px;
}

.online-control__paragraph {
    font-size: 18px;
    line-height: 204.6%;
    text-align: center;
    color: var(--color-gray);
    margin: 0;
    margin-top: 22.6px;
}

.online-control__form {
    margin-top: 84.5px;
    display: flex;
    flex-direction: column;
    gap: 32.24px;
}

.online-control__form-row {
    display: flex;
    gap: 49px;
    justify-content: center;
}

.online-control__form-inputs {
    display: flex;
    gap: 58px;
}

.online-control__form-control {
    display: flex;
    flex-direction: column;
}

.online-control__form-input-label {
    font-size: 13px;
    color: var(--color-gray-50);
}

.online-control__form-input {
    border: none;
    border-bottom: 1px solid var(--color-gray-30);
    font-size: 14px;
    color: var(--color-gray);
    width: 231px;
    padding: 0;
    padding-bottom: 8px;
}

.online-control__form-input:focus {
    border-bottom-color: var(--color-primary);
    outline: none;
}

.online-control__form-input:focus::placeholder {
    color: var(--color-gray-50);
    line-height: 163.7%;
}

.online-control__form-input::placeholder {
    color: var(--color-gray);
}

.online-control__form-checkbox-label {
    display: flex;
    align-items: center;
    gap: 8.62px;
    cursor: pointer;
    font-size: 14px;
    color: #181818;
}

.online-control__form-submit {
    width: 200px;
    height: 49px;
}

.online-control__form-checkbox {
    display: none;
}

.online-control__form-checkbox-fake::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background-color: var(--color-primary);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
}

.online-control__form-checkbox:checked + .online-control__form-checkbox-fake::before {
    background-image: url(../icons/check.svg);
}
/* || /Online control */

/* || Types of repair */
.types-of-repair {
    height: 706px;
    margin-top: 147.85px;
}

.types-of-repair .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-of-repair__title {
    margin: 0;
}

.types-of-repair__icon {
    margin-top: 13px;
}

.types-of-repair__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 31px;
}

.types-of-repair__item-title {
    font-family: "Yeseva One", serif;
    font-size: 18px;
}

.types-of-repair__item-description {
    background-color: var(--color-white);
    box-shadow: 10px 10px 20px var(--color-black-30);
    padding: 25px 32px 49px 31px;
    margin-top: -127px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    position: relative;
    z-index: 2;
}

.types-of-repair__item-title {
    margin: 0;
}

.types-of-repair__item-properties {
    color: #959595;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 13px;
    margin: 0;
    margin-top: 13px;
}

.types-of-repair__item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Yeseva One", serif;
    color: var(--color-white);
    font-size: 18px;
    width: 228px;
    height: 54px;
    background-color: var(--color-primary);
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    margin-top: -26px;
    margin-left: 31px;
    position: relative;
    z-index: 3;
}
/* || /Types of repair */